/* GLOBAL */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #759baa;
  min-width: 320px;
}
ul {
  list-style: none;
}
button {
  outline: none;
}
p,
ul {
  padding: 0;
  margin: 0;
}

/* HEADER */
.nav__wrapper {
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding-left: 10px;
}
.header__nav {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 40px;
  height: 40px;
}
.btn {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  width: auto;
  max-width: 250px;

  background: rgba(76, 0, 255, 0.521);
  border: none;
  border-radius: 10px;
  padding: 5px;
  display: block;
}

/* MAIN */
.article__text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #352135fc;
  font-size: 25px;
  padding-bottom: 10px;
}
.article__wrapper {
  background: rgba(242, 255, 195, 0.616);
  background-position: left;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: darkturquoise;
  background: url(./img/dating.jpg);
  background-size: 80%;
  background-repeat: round;
  min-height: 200px;
}
.main__about {
  padding: 15px;
  background: darkcyan;
}
.about__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.item__article {
  font-size: 16px;
  color: white;
}
.main__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darkturquoise;
  padding: 15px;
  text-align: center;
}
.testimonials__btn {
  margin-top: 10px;
}
.main__works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darkcyan;
  padding: 15px;
  text-align: center;
}
.works__btn {
  margin-top: 10px;
}
.main__app {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: darkturquoise;
}
.app__img {
  width: 150px;
}

/* FOOTER */
.footer__list {
  display: flex;
  flex-direction: column;
  background: darkcyan;
  padding: 15px;
}
.footer__links {
  display: flex;
  justify-content: space-around;
}

/* TABLET */

@media (min-width: 768px) {
  .article__text {
    padding-bottom: 25px;
  }
  .article__wrapper {
    min-height: 300px;
  }
  .about__list {
    flex-direction: row;
    background: greenyellow;
  }
  .main__article {
    background-size: 100%;
    background-repeat: round;
    min-height: 300px;
  }
  .footer__list {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__links-item {
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    text-transform: capitalize;
    text-decoration: underline;
  }
}

/* DESKTOP */

@media (min-width: 1000px) {
  .article__text {
    padding-bottom: 35px;
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 150px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(37, 0, 0);
    text-decoration: underline;
  }
  .btn {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main__article {
    padding-bottom: 25px;
  }
  .article__wrapper {
    background: none;
  }
  .about__list {
    background: rgb(186, 153, 189);
  }
  .main__article {
    background: url("./img/background.jpg");
    background-size: cover;
  }
  .main__about {
    background: #565f63;
  }
  .main__testimonials {
    background: #c5a8b9;
  }
  .item__description {
    font-size: 25px;
  }
  .item__article {
    font-size: 21px;
    color: #353232;
  }
  .testimonials__success {
    font-size: 20px;
  }
  .app__download {
    font-size: 20px;
  }
  .body {
    background-color: #8e7b90;
  }
}

/* SUCCESS PAGE ! */

.main__content {
  background: url("./img/background\ 2.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__discribe {
  font-size: 20px;
  text-align: center;
}
.success_page {
  background-color: #19041375;
}
.review__img {
  width: 15%;
  height: 10%;
  border-radius: 50%;
  margin-right: 10px;
}
.content__review {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.review__comment,
.content__subtitle {
  background: rgba(245, 222, 179, 0.438);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.comment__text {
  color: black;
}
.content__article {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.content__subtitle {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 11, 105, 0.76);
}
